<center class="ng-scope">

    <md-button
            class="md-primary md-raised mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            ng-click="agregarEmpresa()">
            <i class="material-icons" style="vertical-align: middle;">business</i> Agregar Empresa
    </md-button>

    <table class="mdl-layout--large-screen-only mdl-cell mdl-data-table   mdl-js-data-table  mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Habilitado</th>
            <th class="mdl-data-table__cell--non-numeric">Nombre</th>
            <th class="mdl-data-table__cell--non-numeric">Rut</th>
            <th class="mdl-data-table__cell--non-numeric">Correo</th>
            <th class="mdl-data-table__cell--non-numeric">Celular</th>
            <th class="mdl-data-table__cell--non-numeric">Direccion</th>
            <th class="mdl-data-table__cell--non-numeric">Acciones</th>
            <!--	<th>Ingresos validados</th> -->
        </tr>
        </thead>
        <!-- ngRepeat: clientes in clientes --><tbody ng-repeat="empresa in empresas" class="ng-scope" >

    <tr>

        <td class="mdl-data-table__cell--non-numeric">
            <i ng-show="empresa.visible == false" ng-click="validar(empresa)" aria-hidden="true" role="button" tabindex="0" class="ng-hide">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">close</i>
                </button>
            </i>
            <i ng-show="empresa.visible == true" ng-click="validar(empresa)" aria-hidden="true" role="button" tabindex="0">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">done</i>
                </button>
            </i>
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{empresa.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{empresa.rut}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{empresa.email}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{empresa.cellPhone}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{empresa.address}}</td>


        <td class="mdl-data-table__cell--non-numeric">

            <i ng-click="editarEmpresa(empresa)" aria-hidden="true" role="button" tabindex="0" >
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">edit_mode</i>
                </button>
            </i>


        </td>
        <!--	<td>{{0}}</td> -->


    </tr>
    </tbody><!-- end ngRepeat: clientes in clientes -->
    </table>

    <table class="mdl-layout--small-screen-only mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Habilitado</th>
            <th class="mdl-data-table__cell--non-numeric">Nombre</th>
            <th class="mdl-data-table__cell--non-numeric">Rut</th>
            <!--	<th>Ingresos validados</th> -->
        </tr>
        </thead>
        <!-- ngRepeat: vehiculos in vehiculos --><tbody   ng-repeat="empresa in empresas" class="ng-scope">
    <tr>

        <td class="mdl-data-table__cell--non-numeric">
            <i ng-show="empresa.visible == false" ng-click="validar(empresa)" aria-hidden="true" role="button" tabindex="0" class="ng-hide">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">close</i>
                </button>
            </i>
            <i ng-show="empresa.visible == true" ng-click="validar(empresa)" aria-hidden="true" role="button" tabindex="0">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">done</i>
                </button>
            </i>
        </td>
        <td ng-click="editarEmpresa(empresa)" class="mdl-data-table__cell--non-numeric">{{empresa.name}}</td>

        <td  ng-click="editarEmpresa(empresa)" class="mdl-data-table__cell--non-numeric">{{empresa.rut}}</td>

        </td>


    </tr>
    </tbody><!-- end ngRepeat: clientes in clientes -->
    </table>

</center>


<script type="text/ng-template" id="agregarEmpresa">
    <md-dialog  aria-label="Agregar Empresa">
<form ng-cloak>

<md-toolbar>
        <div style="background: #795548" class=" md-toolbar-tools">
            <h2>{{titulo}}</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="cancel()">
               X <md-icon  aria-label="Close dialog"></md-icon>
            </md-button>

        </div>
</md-toolbar>

<md-dialog-content>

        <div class="md-dialog-content">

            <md-input-container class="md-block">
                <label>Nombre</label>
                <input required=""  ng-model="name" type="text" class="mdl-textfield__input" id="name">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Escriba Nombre Ej: Ripley.</div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Celular</label>
                <input required="" ng-model="cellPhone" type="number" class="mdl-textfield__input" id="cellPhone">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Escriba Telefono Ej: 56 9 8529 6932.</div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>RUT</label>
                <input required="" ng-model="rut" type="text" class="mdl-textfield__input" id="rut">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Escriba RUT  Ej: 818529631 .</div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Correo</label>
                <input required="" ng-model="email" type="email" class="mdl-textfield__input" overwrite-email name="overwrittenEmail" id="email">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Escriba Correo Ej: ApartHotel@gmail.com .</div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Direccion</label>
                <input required="" ng-model="address" type="text" class="mdl-textfield__input" id="address">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Escriba la direccion  Ej: Av. Siempre Linda #4852 .</div>
            </md-input-container>

        </div>

</md-dialog-content>

<md-dialog-actions layout="row">
    <md-button flex="30" ng-click="cancel()" class="md-primary">
       Cancelar
    </md-button>

    <div  flex="20" >

    </div>

    <md-button flex="50"type="submit" ng-click="guardarEmpresa()" class="md-primary">
        Guardar Empresa
    </md-button>

</md-dialog-actions>

</form>
    </md-dialog>
</script>