<center>
    <br>
    <div  layout="row" layout-wrap >
        <div flex="25">

        </div>
        <div flex="50" style="background: white">
            <br>
            <strong> Fechas </strong>
        </div>
        <div flex="25">

        </div>
        <div flex="25">

        </div>

        <div flex="25" style="background: white">
            <strong> Llegada </strong>
            <md-datepicker   md-min-date="fechaHoy" ng-model="fechaInicio" md-placeholder="5/18/2017"></md-datepicker>
        </div>
        <div flex="25" style="background: white">
            <strong> Salida </strong>
            <md-datepicker style="vertical-align: middle;"  md-min-date="fechaInicio"
                           ng-model="fechaFin" md-placeholder="5/18/2017"></md-datepicker>
        </div>
        <div flex="25">

        </div>
    </div>
    <br>
<div  layout="row" layout-wrap >

    <div flex="25">

    </div>
    <div flex="50"  style="background: white">
        <br>
        <strong> Datos  </strong>
    </div>
    <div flex="25">

    </div>
    <div flex="25">

    </div>

    <div flex="25" style="background: white">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Numero Habitacion </label>
            <md-select  ng-model="reserva.habitacionId">
                <md-option ng-repeat="habitacion in habitaciones"  ng-value="habitacion.id" >
                    {{habitacion.numeroHabitacion}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="25" style="background: white">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Empresa</label>
            <md-select ng-model="reserva.empresaId" >
                <md-option class="ambiente-option" ng-value="false" >
                    Sim Empresa
                </md-option>
                <md-option  class="ambiente-option" ng-value="empresa.id"
                            ng-repeat="empresa in empresas">{{empresa.name}}
                </md-option>
            </md-select>
        </md-input-container>
            </div>
    <div flex="25">

    </div>
    <div flex="25">

    </div>

    <div flex="20"  style="background: white">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Valor por dia</label>
            <input type="number" ng-model="reserva.price">
        </md-input-container>
</div>

    <div flex="20"  style="background: white">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Total dias</label>
            <input type="number" ng-model="totalDias" disabled>
        </md-input-container>

</div>
    <div flex="10"  style="background: white">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Total a Pagar</label>
            <input type="number" ng-model="totalAPagar" disabled>
        </md-input-container>

    </div>
    <div flex="25">


    </div>


</div>
    <br>
    <div layout="row" layout-wrap >
        <div flex="25"></div>
        <div flex="50" style="background: white">
            <br>
            <STRONG>DESCRIPCION</STRONG>
        </div>
        <div flex="25"></div>
        <div flex="25"></div>

        <div flex="50" style="background: white">


                <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone md-block">

                    <textarea required ng-model="reserva.detalle" md-maxlength="100" rows="2"
                              md-select-on-focus></textarea>
                </md-input-container>
            </div>

    </div>

</center>

    <STRONG>Nombre Cliente</STRONG>
    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
        <label>-</label>
        <input ng-model="reserva.nameCliente">
    </md-input-container>

<center>
    <div class="mdl-cell mdl-cell--11-col mdl-cell--12-col-phone">
<br>




    <button ng-click="guardarReserva(reserva,fechaInicio,fechaFin)" class="mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="material-icons">&#xE161;</i>  Guardar Reserva
    </button>

    </div>


</center>

