
<div id="BarraCargando" style='display:block;'>
    <br><br><br><br>
    <center>
    <md-progress-circular
            class="md-accent" md-diameter="50"></md-progress-circular>
    </center>
</div>
        <md-card  ng-repeat="reserva in reservas" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <strong>
                        <i class="material-icons " style="vertical-align: middle;">event</i>
                        {{reserva.fechaInicio | date:"EEEE d', 'MMMM " }}
                    </strong>
                    <strong>
                        <i class="material-icons " style="vertical-align: middle;">person</i>
                        {{reserva.nameCliente}}
                    </strong>
                        <strong>
                        <i class="material-icons " style="vertical-align: middle;">email</i>
                        {{reserva.correoCliente}}
                    </strong>
                    <strong>
                        <i class="material-icons " style="vertical-align: middle;">assignment</i>
                        {{reserva.detalle}}</strong>
                </md-card-title-text>
                <md-card-title-media>
                    <strong>
                        {{getHabitacion(reserva.habitacionId)}}
                        <i class="material-icons " style="vertical-align: middle;">hotel</i>
                    </strong>

                </md-card-title-media>

            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">

                <md-button>ANULAR</md-button>
                <md-button ng-click="dialogCheckIn(reserva)" ng-show="!reserva.checkIn" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">CHECK IN</md-button>

            </md-card-actions>
        </md-card>




<button ng-click="dialogAgregarReserva()" id="view-source" style="background:#1b001b"
   class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">

    <i class="material-icons">event</i></button>

<style>
    #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
    }
</style>




<center>
<button class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    <i class="material-icons" style="vertical-align: middle;">dashboard</i>
    Pantalla General
</button>
    <br>
<button ng-click="goEmpresa()" class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="material-icons" style="vertical-align: middle;">add</i>
        Ver Empresas
</button>
    <br>
<button ng-click="goHabitacion()" class=" mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    <i class="material-icons" style="vertical-align: middle;">home</i>  Habitaciones
</button>
    <br>
<button class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Check In <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="  ">done</div>
</button>
    <br>
<button class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Check Out <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="5">done_all</div>
</button>
</center>








<script type="text/ng-template" id="dialogAgregarReserva">
    <md-dialog  aria-label="Agregar Reserva">
        <form ng-cloak>

            <md-toolbar>
                <div style="background: #795548 ; width: 1000px;" class=" md-toolbar-tools">
                    <h2>Agregar Reserva</h2>
                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cancel()">
                        X <md-icon  aria-label="Close dialog"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content" >


                    <div>

                <center><strong> Fechas </strong>
                        <br>

                            <strong> Llegada </strong>
                            <md-datepicker requiered  md-min-date="fechaHoy" ng-model="fechaInicio" md-placeholder="5/18/2017">

                            </md-datepicker>

                            <strong> Salida </strong>
                            <md-datepicker style="vertical-align: middle;"
                                           md-min-date="fechaInicio"
                                           ng-model="fechaFin"
                                           md-placeholder="5/18/2017">

                            </md-datepicker>

                </center>
<br>
                <center><strong> Datos </strong></center>
<br>
                            <div layout-gt-sm="row">
                            <md-input-container class="mdl-cell  mdl-cell--12-col-phone  mdl-cell--12-col-tablet" >
                                <label>Numero Habitacion </label>
                                <md-select required=""  class=" musicalSelec" ng-model="reserva.habitacionId">
                                    <md-option  ng-click="goPrice(habitacion,fechaInicio,fechaFin)" class=" music-options" ng-value="habitacion.id" ng-repeat="habitacion in habitaciones"
                                                ng-show="habitacion.visible == true">{{habitacion.numeroHabitacion}}
                                    </md-option>
                                </md-select>

                            </md-input-container>

                            <md-input-container  class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                                <label>Empresa</label>
                                <md-select required="" ng-model="reserva.empresaId" >
                                    <md-option class="ambiente-option" ng-value="false" >
                                        Sim Empresa
                                    </md-option>
                                    <md-option  class="ambiente-option" ng-value="empresa.$id"
                                                ng-repeat="empresa in empresas">{{empresa.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet" >
                                <label>Valor por dia</label>
                                <input required=""  type="number" ng-model="reserva.price">

                            </md-input-container>



                            <md-input-container  class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                                <label>Total dias</label>
                                <input required="" type="number" ng-model="totalDias" disabled>
                            </md-input-container>

                            <md-input-container class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                                <label>Total a Pagar</label>
                                <input required="" type="number" ng-model="totalAPagar" disabled>
                            </md-input-container>

                        </div>


                    </div>


                <center><STRONG>Datos Clientes</STRONG></center><br>

                <div layout-gt-sm="row">


                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Nombre </label>
                        <input required="" type="text" ng-model="reserva.nameCliente">

                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Correo </label>
                        <input required="" type="email" ng-model="reserva.correoCliente">
                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Celular </label>
                        <input required="" type="number" ng-model="reserva.celularCliente">
                    </md-input-container>
                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Numero de PAX </label>
                        <input required="" type="number" ng-model="reserva.paxCliente">
                    </md-input-container>
                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>DNI </label>
                        <input required="" type="number" ng-model="reserva.dni">
                    </md-input-container>

                </div>


                <center><STRONG>Descripción</STRONG></center>

                            <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone md-block">

                    <textarea  required="" ng-model="reserva.detalle" md-maxlength="100" rows="3"
                              md-select-on-focus>

                    </textarea>
                            </md-input-container>

            </div>


        </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()" class="md-primary">
                    Cancelar
                </md-button>

                <div   >

                </div>

                <md-button type="submit" ng-click="guardarReserva(reserva,fechaInicio,fechaFin)" class="mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Guardar reserva
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
        <script type="text/ng-template" id="dialogCheckIn">
            <md-dialog  aria-label="Confirmar Check In">
                <form ng-cloak>

                    <md-toolbar>
                        <div style="background: #795548 ; width: 1000px;" class=" md-toolbar-tools">
                            <h2>Confirmar Check In</h2>
                            <span flex></span>

                            <md-button class="md-icon-button" ng-click="cancel()">
                                X <md-icon  aria-label="Close dialog"></md-icon>
                            </md-button>

                        </div>
                    </md-toolbar>

                    <md-dialog-content>

                        <div class="md-dialog-content" >







                        </div>


                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <md-button ng-click="cancel()" class="md-primary">
                            Cancelar
                        </md-button>

                        <div   >

                        </div>

                        <md-button type="submit" ng-click="guardarReserva(reserva,fechaInicio,fechaFin)" class="mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Confirmar
                        </md-button>

                    </md-dialog-actions>

                </form>
            </md-dialog>
        </script>