
<style>

    .autocomplete-custom-template li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal;
    }
    .autocomplete-custom-template li:last-child {
        border-bottom-width: 0;
    }
    .autocomplete-custom-template .item-title,
    .autocomplete-custom-template .item-metadata {
        display: block;
        line-height: 2;
    }
    .autocomplete-custom-template .item-title md-icon {
        height: 18px;
        width: 18px;
    }
</style>

<div layout-gt-sm="row">
    <md-input-container  class="md-block" flex-gt-sm>
        <label>Buscar por Nombre :</label>
        <input type="text" ng-model="filterNameInput" ng-keyup="buscarPorNombre()">
    </md-input-container>

    <md-input-container  class="md-block" flex-gt-sm>
        <label> Buscar por DNI :</label>
        <input type="number" ng-model="filterNameDniInput" ng-keyup="buscarPorHabitacion()" >
    </md-input-container>
</div>


 <!--<div id="BarraCargando" style='display:block;'>
    <br><br><br><br>
    <center>
    <md-progress-circular
            class="md-accent" md-diameter="50"></md-progress-circular>
    </center>
</div> -->
<div class="content-grid mdl-grid">


        <md-card ng-show="!reserva.anulada && !reserva.checkIn && !reserva.checkOut"  class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet" ng-repeat="reserva in reservas"  >
            <center><button  id="booking" ng-show="reserva.empresaId == '-Kl-X2V8WvJ0NuAukYsM'" class="mdl-color--light-blue mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Booking
            </button>
            <button id="empresa"  ng-show="reserva.empresaId != '-Kl-X2V8WvJ0NuAukYsM' && reserva.empresaId != '1'" class="mdl-color--light-green mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Empresa
            </button>
            <button id="sineMpresa" ng-show="reserva.empresaId == '1'"  class="mdl-color--light-orange mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Sin Empresa
            </button>
            </center>
            <md-card-title>

                <md-card-title-text>

                    <table style="text-align: left">
                        <tr>
                            <th> <i class="material-icons " style="vertical-align: middle;">event</i></th>
                            <th>Desde</th>
                            <th>:</th>
                            <th> {{reserva.fechaInicio | date:"EEEE d', 'MMMM" }}</th>
                        </tr>
                        <tr>
                            <th> <i class="material-icons " style="vertical-align: middle;">event</i></th>
                            <th>Hasta</th>
                            <th>:</th>
                            <th> {{reserva.fechaFin | date:"EEEE d', 'MMMM" }}</th>
                        </tr>
                        <tr>
                            <th>  <i class="material-icons " style="vertical-align: middle;">person</i></th>
                            <th>Nombre </th>
                            <th>:</th>
                            <th> {{reserva.nameCliente}}</th>
                        </tr>
                        <tr>
                          <th> <i class="material-icons " style="vertical-align: middle;">email</i></th>
                            <th>Correo</th>
                            <th>:</th>
                            <th>{{reserva.correoCliente}}</th>
                        </tr>
                        <tr>
                            <th>  <i class="material-icons " style="vertical-align: middle;">hotel</i></th>
                            <th>Habitacion</th>
                            <th>:</th>
                            <th> {{getHabitacion(reserva.habitacionId)}}</th>
                        </tr>
                        <tr>
                            <th>  <i class="material-icons " style="vertical-align: middle;">assignment</i></th>
                            <th>Detalle </th>
                            <th>:</th>
                            <th> {{reserva.detalle}}</th>
                        </tr>
                    </table>


                </md-card-title-text>
                <md-card-title-media>



                </md-card-title-media>

            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">

                <md-button ng-click="dialogAnularReserva(reserva)" >ANULAR</md-button>
                <div flex></div>
                <md-button ng-click="dialogEditarReserva(reserva)" ng-show="!reserva.checkIn" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Editar</md-button>

                <md-button ng-click="dialogCheckIn(reserva)" ng-show="!reserva.checkIn" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">CHECK IN</md-button>


            </md-card-actions>
        </md-card>

</div>


<button ng-click="dialogAgregarReserva()" id="view-source" style="background:#1b001b"
   class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">

    <i class="material-icons">event</i></button>

<style>
    #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
    }
</style>











<script type="text/ng-template" id="dialogAgregarReserva">
    <md-dialog  aria-label="Agregar Reserva">
        <form ng-cloak>

            <md-toolbar>
                <div style="background: #795548 ; width: 100%;" class=" md-toolbar-tools">
                    <h2>{{titulo}}</h2>
                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cancel()">
                        X <md-icon  aria-label="Close dialog"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content" style="background: #E0E0E0"  >


                    <div style="background: white" class="mdl-shadow--4dp">
                        <br>
                <center><strong> Fechas </strong>
                        <br>

                            <strong> Llegada </strong>
                            <md-datepicker requiered  md-min-date="fechaHoy" ng-model="fechaInicio" md-placeholder="5/18/2017">

                            </md-datepicker>

                            <strong> Salida </strong>
                            <md-datepicker style="vertical-align: middle;"
                                           md-min-date="fechaInicio"
                                           ng-model="fechaFin"
                                           md-placeholder="5/18/2017"
                            ng-change="CalcularDiasTotales(fechaInicio,fechaFin)"
                            >

                            </md-datepicker>
                 <span ng-show="totalDias " class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                   Total de Dias : {{totalDias}}
                    </span>
                    <br><br>

                </center>
                    </div>
<br>
                <div style="background: white; " class="mdl-shadow--4dp">
                    <br>
                <center><strong> Datos </strong></center>
                            <div layout-gt-sm="row">



                            <div  layout="column"  class="  mdl-cell mdl-cell--6-col " >
                                    <md-autocomplete
                                                     ng-disabled="isDisabled"
                                                     md-no-cache="noCache"
                                                     md-selected-item="selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(habitacion.$id)"
                                                     md-items="habitacion in querySearch(searchText)"
                                                     md-item-text="habitacion.numeroHabitacion"
                                                     md-min-length="0"
                                                     placeholder="Habitacion"
                                                     md-floating-label="Habitacion"
                                    >
                                        <md-item-template>
          <span class="item-title">
          <i class="material-icons"  style="vertical-align: middle;">hotel</i>
            <span> {{habitacion.numeroHabitacion}} </span>
          </span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </div>





                                <div  layout="column"  class="  mdl-cell mdl-cell--6-col " >
                                    <md-autocomplete ng-disabled="isDisabled"
                                                     md-no-cache="noCache"
                                                     md-selected-item="selectedItemEmpresa"
                                                     md-search-text-change="searchTextChangeEmpresa(searchTextEmpresa)"
                                                     md-search-text="searchTextEmpresa"
                                                     md-selected-item-change="selectedItemChangeEmpresa(empresa.$id)"
                                                     md-items="empresa in querySearchEmpresa(searchTextEmpresa)"
                                                     md-item-text="empresa.name"
                                                     md-min-length="0"
                                                     placeholder="Empresa"
                                                     md-floating-label="Empresa"
                                    >
                                        <md-item-template>
          <span class="item-title">
          <i class="material-icons"  style="vertical-align: middle;">business</i>
            <span> {{empresa.name}} </span>
          </span>
                                        </md-item-template>
                                    </md-autocomplete>

                                </div>


                 </div>
                    <div layout-gt-sm="row">

                        <md-input-container class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet" >
                            <label>Valor por dia</label>
                            <input required=""  ng-keyup="goPrice()" type="number" ng-model="reserva.price">

                        </md-input-container>




                        <md-input-container class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                            <label>Total a Pagar</label>
                            <input required="" type="number" ng-model="totalAPagar" disabled>
                        </md-input-container>

                    </div>
                </div>






                <br>
                <div style="background: white; " class="mdl-shadow--4dp">
                    <br>
                <center><STRONG>Datos Clientes</STRONG></center><br>

                <div layout-gt-sm="row">

                    <div  layout="column"  class="  mdl-cell mdl-cell--12-col " >
                        <md-autocomplete ng-disabled="isDisabled"
                                         md-no-cache="noCache"
                                         md-selected-item="selectedItemUsuario"
                                         md-search-text-change="searchTextChangeUsuario(searchTextUsuario)"
                                         md-search-text="searchTextUsuario"
                                         md-selected-item-change="selectedItemChangeUsuario(usuario)"
                                         md-items="usuario in querySearchUsuario(searchTextUsuario)"
                                         md-item-text="usuario.name"
                                         md-min-length="0"
                                         placeholder="Nombre y Apellido "
                                         md-floating-label="Nombre y Apellido"
                        >
                            <md-item-template>
          <span class="item-title">
          <i class="material-icons"  style="vertical-align: middle;">business</i>
            <span> {{usuario.name}} </span>
          </span>
                            </md-item-template>
                        </md-autocomplete>

                    </div>

                </div>

                    <div layout-gt-sm="row">


            <!--        <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Nombre </label>
                        <input required="" type="text" ng-model="reserva.nameCliente">

                    </md-input-container> -->

                    <md-input-container  class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Correo </label>
                        <input required="" type="email" ng-model="reserva.correoCliente">
                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Celular </label>
                        <input required="" type="number" ng-model="reserva.celularCliente">
                    </md-input-container>
                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>Numero de PAX </label>
                        <input required="" type="number" ng-model="reserva.paxCliente">
                    </md-input-container>
                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                        <label>DNI </label>
                        <input required="" type="number" ng-model="reserva.dni">
                    </md-input-container>

                </div>


                <center><STRONG>Descripción</STRONG></center>

                            <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone md-block">

                    <textarea  required="" ng-model="reserva.detalle" md-maxlength="100" rows="3"
                              md-select-on-focus>

                    </textarea>
                            </md-input-container>

            </div>
            </div>


        </md-dialog-content >

            <md-dialog-actions layout="row" style="background: #E0E0E0" >
                <md-button ng-click="cancel()" class="md-primary">
                    Cancelar
                </md-button>



                <md-button type="submit" ng-click="guardarReserva(reserva,fechaInicio,fechaFin)" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Guardar reserva
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<script type="text/ng-template" id="dialogCheckIn">
            <md-dialog  aria-label="Confirmar Check In">
                <form ng-cloak>

                    <md-toolbar>
                        <div style="background: #795548 ; width: 100%;" class=" md-toolbar-tools">
                            <h2>Confirmar Check In</h2>
                            <span flex></span>

                            <md-button class="md-icon-button" ng-click="cancel()">
                                X <md-icon  aria-label="Close dialog"></md-icon>
                            </md-button>

                        </div>
                    </md-toolbar>

                    <md-dialog-content>

                        <div class="md-dialog-content" >


                            <table>

                                    <tr>
                                        <td>  <i class="material-icons " style="vertical-align: middle;">event</i></td>
                                        <td> Inicio</td>
                                        <td>:</td>
                                        <td>{{reservaSelect.fechaInicio | date:"EEEE d', 'MMMM" }} </td>
                                    </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">event</i></td>
                                    <td> Termino</td>
                                    <td>:</td>
                                    <td>  {{reservaSelect.fechaFin | date:"EEEE d', 'MMMM" }} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">person</i></td>
                                    <td> Nombre</td>
                                    <td>:</td>
                                    <td> {{reservaSelect.nameCliente}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">email</i></td>
                                    <td> Correo</td>
                                    <td>:</td>
                                    <td>  {{reservaSelect.correoCliente}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">call</i></td>
                                    <td> Celular</td>
                                    <td>:</td>
                                    <td>  {{reservaSelect.celularCliente}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">short_text</i></td>
                                    <td> Total Dias</td>
                                    <td>:</td>
                                    <td>   {{reservaSelect.totalDias}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">attach_money</i></td>
                                    <td> Precio Diario</td>
                                    <td>:</td>
                                    <td>   {{reservaSelect.price}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">attach_money</i></td>
                                    <td> Total a Pagar</td>
                                    <td>:</td>
                                    <td>          {{reservaSelect.totalAPagar}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">hotel</i></td>
                                    <td> Habitación</td>
                                    <td>:</td>
                                    <td>          {{getHabitacion(reservaSelect.habitacionId)}} </td>
                                </tr>

                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">business</i></td>
                                    <td> Empresa </td>
                                    <td>:</td>
                                    <td>           {{getEmpresa(reservaSelect.empresaId)}} </td>
                                </tr>
                                <tr>
                                    <td>  <i class="material-icons " style="vertical-align: middle;">assignment</i></td>
                                    <td> Detalle </td>
                                    <td>:</td>
                                    <td>           {{reservaSelect.detalle}} </td>
                                </tr>
                            </table>




                        </div>


                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <md-button ng-click="cancel()" class="md-primary">
                            Cancelar
                        </md-button>


                        <md-button type="submit" ng-click="confirmarCheckIn()" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Confirmar
                        </md-button>

                    </md-dialog-actions>

                </form>
            </md-dialog>
        </script>
<script type="text/ng-template" id="dialogAnularReserva">
    <md-dialog  aria-label="Confirmar Check In">
        <form ng-cloak>

            <md-toolbar>
                <div style="background: #795548 ; width: 1000px;" class=" md-toolbar-tools">
                    <h2>Esta seguro que desea anular ?</h2>
                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cancel()">
                        X <md-icon  aria-label="Close dialog"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>

            <md-dialog-content>

                <div class="md-dialog-content" style="background: #E0E0E0"  >






                        <div style="background: white" class="mdl-shadow--4dp">

                            <br>
                            <center><STRONG>Motivo de anulación</STRONG></center>
<br>
                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone md-block">

                    <textarea  required="" ng-model="descripcionAnular" md-maxlength="100" rows="3"
                               md-select-on-focus>

                    </textarea>
                    </md-input-container>

                        </div>







                </div>


            </md-dialog-content>

            <md-dialog-actions layout="row"   style="background: #E0E0E0">
                <md-button ng-click="cancel()" class="md-primary">
                    Cancelar
                </md-button>

                <div>

                </div>

                <md-button  ng-click="Anular(descripcionAnular)" class="mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                   Anular
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>