<div layout-gt-sm="row">
    <md-input-container  class="md-block" flex-gt-sm>
        <label>Buscar por Nombre :</label>
        <input type="text" ng-model="filterNameInput" ng-keyup="buscarPorNombre()">
    </md-input-container>

    <md-input-container  class="md-block" flex-gt-sm>
        <label> Buscar por DNI :</label>
        <input type="number" ng-model="filterNameDniInput" ng-keyup="buscarPorHabitacion()" >
    </md-input-container>
</div>


 <!--<div id="BarraCargando" style='display:block;'>
    <br><br><br><br>
    <center>
        <md-progress-circular
                class="md-accent" md-diameter="50"></md-progress-circular>
    </center>
</div> -->

<md-card ng-show="!check.checkOut && check.checkIn" ng-repeat="check in checkIn" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
<div layout="row">
            <table style="text-align: left">
    <tr>
        <th> <i class="material-icons " style="vertical-align: middle;">event</i></th>
        <th>Desde</th>
        <th>:</th>
        <th> {{check.fechaInicio | date:"EEEE d', 'MMMM" }}</th>

    </tr>
    <tr>
        <th> <i class="material-icons " style="vertical-align: middle;">event</i></th>
        <th>Hasta</th>
        <th>:</th>
        <th> {{check.fechaFin | date:"EEEE d', 'MMMM" }}</th>
    </tr>
    <tr>
        <th>  <i class="material-icons " style="vertical-align: middle;">person</i></th>
        <th>Nombre </th>
        <th>:</th>
        <th> {{check.nameCliente}}</th>
    </tr>
    <tr>
        <th> <i class="material-icons " style="vertical-align: middle;">email</i></th>
        <th>Correo</th>
        <th>:</th>
        <th>{{check.correoCliente}}</th>
    </tr>
    <tr>
        <th>  <i class="material-icons " style="vertical-align: middle;">hotel</i></th>
        <th>Habitacion</th>
        <th>:</th>
        <th> {{getHabitacion(check.habitacionId)}}</th>
    </tr>
    <tr>
        <th>  <i class="material-icons " style="vertical-align: middle;">assignment</i></th>
        <th>Detalle </th>
        <th>:</th>
        <th> {{check.detalle}}</th>
    </tr>

        <tr class="mdl-layout--small-screen-only">
            <th> <i class="material-icons " style="vertical-align: middle;">attach_money</i></th>
            <th>Valor Diario</th>
            <th>:</th>
            <th> {{check.price}}</th>

        </tr>
        <tr class="mdl-layout--small-screen-only">
            <th> <i class="material-icons " style="vertical-align: middle;">event</i></th>
            <th>Total Dias</th>
            <th>:</th>
            <th> {{check.totalDias}}</th>

        </tr>

    </table>
</div>
        </md-card-title-text>
        <md-card-title-media>
<table class="mdl-layout--large-screen-only" style="text-align: left">
    <tr>
        <th> <i class="material-icons " style="vertical-align: middle;">attach_money</i></th>
        <th>Valor Diario</th>
        <th>:</th>
        <th> {{check.price}}</th>

    </tr>
    <tr>
        <th> <i class="material-icons " style="vertical-align: middle;">event</i></th>
        <th>Total Dias</th>
        <th>:</th>
        <th> {{check.totalDias}}</th>

    </tr>

</table>



        </md-card-title-media>

    </md-card-title>

    <md-card-actions layout="row" layout-align="end center">

        <md-button ng-click="dialogDescuento(check)" >Descuentos</md-button>
        <div flex></div>

        <md-button ng-click="dialogAbono(check)"  class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Abonar</md-button>
        <md-button ng-click="dialogCheckOut(check)"  class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">CHECK OUT</md-button>


    </md-card-actions>
</md-card>

<script type="text/ng-template" id="dialogDescuento">
    <md-dialog  aria-label="Confirmar Check In">
        <form ng-cloak>

            <md-toolbar>
                <div style="background: #795548 ; width: 100%;" class=" md-toolbar-tools">
                    <h2>Descuento</h2>
                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cancel()">
                        X <md-icon  aria-label="Close dialog"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>

            <md-dialog-content>

                <div class="md-dialog-content" >
                    <div layout-gt-sm="row">
                    <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet" >
                        <label>Descuento</label>
                        <input required=""  type="number" ng-model="descuentoIngresado">

                    </md-input-container>
                    </div>  <center><STRONG>Motivo del descuento</STRONG></center>
                    <div layout-gt-sm="row">

                        <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone md-block">

                    <textarea  required="" ng-model="motivoDescuento" md-maxlength="100" rows="2"
                               md-select-on-focus>

                    </textarea>
                        </md-input-container>
                    </div>



                </div>


            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()" class="md-primary">
                    Cancelar
                </md-button>


                <md-button type="submit" ng-click="confirmarDescuento()" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Confirmar
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<script type="text/ng-template" id="dialogAbono">
    <md-dialog  aria-label="Confirmar Check In">
        <form ng-cloak>

            <md-toolbar>
                <div style="background: #795548 ; width: 100%;" class=" md-toolbar-tools">
                    <h2>Abono</h2>
                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cancel()">
                        X <md-icon  aria-label="Close dialog"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>

            <md-dialog-content>

                <div class="md-dialog-content" >
                    <div layout-gt-sm="row">
                        <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet" >
                            <label>Abonar</label>
                            <input required=""  type="number" ng-model="abonoIngresado">

                        </md-input-container>
                    </div>  <center><STRONG>Motivo del descuento</STRONG></center>
                    <div layout-gt-sm="row">

                        <md-input-container class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone md-block">

                    <textarea  required="" ng-model="motivoAbono" md-maxlength="100" rows="2"
                               md-select-on-focus>

                    </textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-checkbox  ng-click="obtenerPago('efectivo')" ng-disabled="debito || credito || transferenacia" ng-model="efectivo" aria-label="Checkbox 1">
                            Efectivo
                        </md-checkbox>
                        <md-checkbox ng-click="obtenerPago('debito')" ng-disabled="efectivo || credito || transferenacia" ng-model="debito" aria-label="Checkbox 1">
                            Debito
                        </md-checkbox>
                        <md-checkbox ng-click="obtenerPago('credito')"  ng-disabled="debito || efectivo || transferenacia" ng-model="credito" aria-label="Checkbox 1">
                            Credito
                        </md-checkbox>
                        <md-checkbox ng-click="obtenerPago('transferenacia')" ng-disabled="credito || debito || efectivo"  ng-model="transferenacia" aria-label="Checkbox 1">
                            transferenacia
                        </md-checkbox>

                    </div>



                </div>


            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()" class="md-primary">
                    Cancelar
                </md-button>


                <md-button type="submit" ng-click="confirmarAbono()" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Confirmar
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<script type="text/ng-template" id="dialogCheckOut">
    <md-dialog  aria-label="Confirmar Check In">
        <form ng-cloak>

            <md-toolbar>
                <div style="background: #795548 ; width: 100%;" class=" md-toolbar-tools">
                    <h2>CHECK OUT</h2>
                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cancel()">
                        X <md-icon  aria-label="Close dialog"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>

            <md-dialog-content>

                <div class="md-dialog-content" >



                    <div layout-gt-sm="row">
                        <table>

                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">event</i></td>
                                <td> Inicio</td>
                                <td>:</td>
                                <td>{{reservaSelect.fechaInicio | date:"EEEE d', 'MMMM" }} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">event</i></td>
                                <td> Termino</td>
                                <td>:</td>
                                <td>  {{reservaSelect.fechaFin | date:"EEEE d', 'MMMM" }} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">person</i></td>
                                <td> Nombre</td>
                                <td>:</td>
                                <td> {{reservaSelect.nameCliente}} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">email</i></td>
                                <td> Correo</td>
                                <td>:</td>
                                <td>  {{reservaSelect.correoCliente}} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">call</i></td>
                                <td> Celular</td>
                                <td>:</td>
                                <td>  {{reservaSelect.celularCliente}} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">short_text</i></td>
                                <td> Total Dias</td>
                                <td>:</td>
                                <td>   {{reservaSelect.totalDias}} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">attach_money</i></td>
                                <td> Precio Diario</td>
                                <td>:</td>
                                <td>   {{reservaSelect.price}} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">attach_money</i></td>
                                <td> Total a Pagar</td>
                                <td>:</td>
                                <td>          {{reservaSelect.totalAPagar}} - Sin IVA</td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">hotel</i></td>
                                <td> Habitación</td>
                                <td>:</td>
                                <td>          {{getHabitacion(reservaSelect.habitacionId)}} </td>
                            </tr>

                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">business</i></td>
                                <td> Empresa </td>
                                <td>:</td>
                                <td>           {{getEmpresa(reservaSelect.empresaId)}} </td>
                            </tr>
                            <tr>
                                <td>  <i class="material-icons " style="vertical-align: middle;">assignment</i></td>
                                <td> Detalle </td>
                                <td>:</td>
                                <td>           {{reservaSelect.detalle}} </td>
                            </tr>
                        </table>

                        <div>
                            <center>
                                <style type="text/css">
                                    .tg  {border-collapse:collapse;border-spacing:0;}
                                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                </style>

                                <table class="tg" style="text-align: left">
                                    <tr>
                                        <th>Descuentos Totales </th>
                                        <th>${{totalDescuentos}}</th>
                                        <th>Abonos Totales </th>
                                        <th>${{totalAbonos}}</th>
                                    </tr>
                                </table>
                                <div>
                                    <br>
                                    <md-checkbox  ng-click="obtenerTipoDePago('exportacion')" ng-disabled="electronica || sinDocumento " ng-model="exportacion" aria-label="Checkbox 1">
                                        Exportación
                                    </md-checkbox>
                                    <md-checkbox ng-click="obtenerTipoDePago('electronica')" ng-disabled="sinDocumento || exportacion" ng-model="electronica" aria-label="Checkbox 1">
                                        Electronica
                                    </md-checkbox>
                                    <md-checkbox ng-click="obtenerTipoDePago('sinDocumento')"  ng-disabled="exportacion || electronica" ng-model="sinDocumento" aria-label="Checkbox 1">
                                        Sin Documento
                                    </md-checkbox>
                                    <br>
                                    <md-checkbox  ng-click="obtenerPago('efectivo')" ng-disabled="debito || credito || transferenacia" ng-model="efectivo" aria-label="Checkbox 1">
                                    Efectivo
                                </md-checkbox>
                                    <md-checkbox ng-click="obtenerPago('debito')" ng-disabled="efectivo || credito || transferenacia" ng-model="debito" aria-label="Checkbox 1">
                                        Debito
                                    </md-checkbox>
                                    <md-checkbox ng-click="obtenerPago('credito')"  ng-disabled="debito || efectivo || transferenacia" ng-model="credito" aria-label="Checkbox 1">
                                        Credito
                                    </md-checkbox>
                                    <md-checkbox ng-click="obtenerPago('transferenacia')" ng-disabled="credito || debito || efectivo"  ng-model="transferenacia" aria-label="Checkbox 1">
                                        transferenacia
                                    </md-checkbox>


                                    <table>
                                        <tr>
                                            <th ng-show="sinDocumento" >Total del documento :</th>
                                            <th ng-show="exportacion || electronica"  >+ 19% IVA</th>
                                            <th ng-show="exportacion || electronica || sinDocumento" >{{totalFactura}}</th>
                                            <th ng-show="exportacion || electronica"> Numero de Factura :</th>
                                            <th ng-show="exportacion || electronica"> <input ng-model="numeroDeDocumento" type="text" ></th>
                                        </tr>


                                    </table>
                                    <table>
                                        <tr>
                                            <th ng-show="exportacion || electronica || sinDocumento"  >Total restante a pagar : </th>
                                            <th ng-show="exportacion || electronica || sinDocumento"  >{{totalAPagar}}</th>

                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <th ng-show="electronica">
                                                <md-checkbox  ng-model="pagoFuturo" aria-label="Checkbox 1">
                                                 pago a 30 dias ?
                                                </md-checkbox>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </center>
                        </div>

                    </div>

                </div>



            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()" class="md-primary">
                    Cancelar
                </md-button>


                <md-button type="submit" ng-click="confirmarCheckOut()" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Confirmar
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>


